body {
    background-color: #f5f5f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px;
}

header h1 {
    text-align: center;
    color: #333333;
}

footer{ 
    text-align: center;
    color: #555555;
    margin-top: 20px;
    font-size: 14px;
}

section img {
    margin: 10px;
    border: 2px solid #333;
    border-radius: 8px;
}